h1{
  text-align: center;
}

h2{
  text-align: center;
}

.container{
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.grid{
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border: 1px solid black;
  /* font-size: 16px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.O, .X{
  font-size: 80px;
}

.rightAns{
  background-color: lightblue;
}

#grid1 button{
  background-color: red;
}

@media only screen and (max-width:500px) {
  .container{
    width: 300px;
    height: 300px;
    position: fixed;
    top: 120px;
    left: 110px;
  }

  .grid{
    width: 100px;
    height: 100px;
    /* font-size: 80px; */
  }

  .questionDiv {
	background-color: rgba(0, 0, 0, 0.8);
	position: fixed;
  top: 120px;
  left: 110px;
  margin: 0 auto;
	height: 300px;
	width: 300px;
	z-index: 1;
  box-sizing: border-box;
	/* overflow: auto; */
	/* display: none; */
}

}
